@{ ViewBag.Title = "Home Page"; }

<h2>Metodos de Pago Esan</h2>
<br />


<!-- The Modal REGISTRAR -->
<div class="modal" id="myModal">





    <div class="wrap">



        <form>
            <div class="form-header">
                <h2>Registrate Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    @using (Html.BeginForm("RegistrarIdiomaDocumento2", "Idioma", FormMethod.Post, new { id = "formRegistroidiomaDocumento", data_ajax = "true" }))
                    {

                        @*<input type="file" name="archivo" id="archivo" />
            <input type="button" value="Subir archivo" onclick="subirArchivo()" />*@

                        @*<input type="file" id="pdfFile" name="pdfFile" />*@
                        <input type="file" name="archivoDocumento" id="archivoDocumento" class="custom-file-input" size="5120" lang="es" required>

                        <legend><i class="fa fa-user"></i> User Information</legend>
                        <label for="fname">CLIENTE</label>
                        <input type="text" id="txtCliente" required>
                        <label for="lname">DNI</label>
                        <input type="text" id="txtDni" required>
                        <label for="address">PRECIO</label>
                        <input type="text" id="txtPrecio" required>
                        <label for="lname">FECHA INICIO</label>
                        <input type="date" id="txtFechaini" required>
                        <label for="lname">FECHA FIN</label>
                        <input type="date" id="textFechafini" required><br />


                        <label>CheckBox</label>
                        <input type="checkbox" id="txtCheckBox" onchange="toggleSelect()" required><br />

                        <select name="eleccion" id="txtCombo" disabled>
                            <option value="Seleccione">Seleccione</option>
                            <option value="Monetario">Monetario</option>
                            <option value="Porcentual">Porcentual</option>
                        </select><br />

                        <div class="form-footer">
                            <input type="submit" id="btnInsertar" value="Registrate">

                        </div>
                    }




                </fieldset>






            </div>

        </form>
    </div>


</div>

<!-- The Modal actualizar -->
<div class="modal" id="myModalActualizar">

    <div class="wrap">
        <form>
            <div class="form-header">
                <h2>Actualiza Aquí</h2>
            </div>
            <div class="form-body">
                <fieldset>
                    <legend><i class="fa fa-user"></i> User Information</legend>
                    <label for="fname">CLIENTE</label>
                    <input type="text" id="txtClientes" required>
                    <label for="lname">DNI</label>
                    <input type="text" id="txtDnis" required>
                    <label for="address">PRECIO</label>
                    <input type="text" id="txtPrecios" required>
                    <label for="address">Fecha Inicio</label>
                    <input type="text" id="txtFechaIni" required>
                    <label for="address">Fecha Fin</label>
                    <input type="text" id="txtFechaFin" required>

                </fieldset>

            </div>
            <div class="form-footer">
                <input type="submit" id="IdActualizar" value="Actualizar">

            </div>
        </form>
    </div>


</div>


<!-- TABLA -->
<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="dt-buttons">
                <button type="button" onclick="$('#myModal').modal('show');" class="btn btn-primary" id="btnInsertar" data-bs-toggle="modal" data-bs-target="#myModal">Nuevo Registro</button>
                @*<button type="button" onclick="$('#myModalActualizar').modal('show');" id="btnActualizar" class="btn btn-primary">Editar</button>*@

                <button onclick="$('#myModalActualizar').modal('show');" type="button" id="btnActualizar" class="btn btn-success">Update</button>
                <button type="button" id="btnEliminar" class="btn btn-danger">Eliminar</button>


            </div>
            <br />
            <div class="card-body">
                <table id="myTable" class="table selected">
                    <thead>
                        <tr>
                            <th>IDCliente</th>
                            <th>Cliente</th>
                            <th>DNI</th>
                            <th>Precio</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Eleccion</th>
                        </tr>
                    </thead>
                </table>
            </div>


            @*CAMPOS OCULTOS PARA CAPTURAR CADA FILA DEL DATATABLE*@

            <input type="hidden" id="tempid" name="tempid" />

            <input type="hidden" id="tempCliente" name="tempCliente" />
            <input type="hidden" id="tempDni" name="tempDni" />
            <input type="hidden" id="tempPrecio" name="tempPrecio" />
            <input type="hidden" id="tempFechainicio" name="tempFechainicio" />
            <input type="hidden" id="tempFechafin" name="tempFechafin" />


        </div>
    </div>
</div>


@section scripts{
    <script>



        $('#formRegistroidiomaDocumento').submit(function (e) {
			e.preventDefault(); // Evita que el formulario se envíe normalmente

			// Deshabilita el botón antes de realizar la llamada Ajax
			$('#btnRegistroidiomaDocumento').prop('disabled', true);
			$('#loadingIndicator').show();

            // Crea un objeto FormData para incluir el archivo
            var formData = new FormData(this);

            // Realiza la llamada Ajax
            $.ajax({
                url: '@Url.Action("RegistrarIdiomaDocumento2", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    // Maneja la respuesta del servidor
					// Puedes realizar acciones adicionales si es necesario
					if (data.success) {
						window.location.href = data.redirectUrl;
					}
					else {
						//showAlert(data.message);
						var alertDiv = document.createElement("div");
						alertDiv.className = "alert alert-danger";
						alertDiv.textContent = data.message;

						// Agregar la alerta al div divMensajeVal
						var divMensajeVal = document.querySelector(".divMensajeVal");
						divMensajeVal.appendChild(alertDiv);

						// Desvanecer lentamente después de 10 segundos
						$(alertDiv).fadeOut(8000);
					}
                },
                error: function (error) {
                    // Maneja los errores si hay alguno
					var alertDiv = document.createElement("div");
					alertDiv.className = "alert alert-danger";
					alertDiv.textContent = data.message;

					// Agregar la alerta al div divMensajeVal
					var divMensajeVal = document.querySelector(".divMensajeVal");
					divMensajeVal.appendChild(alertDiv);

					// Desvanecer lentamente después de 10 segundos
					$(alertDiv).fadeOut(12000);
				},
				complete: function () {
					// Habilita el botón después de completar la llamada Ajax
					$('#btnRegistroidiomaDocumento').prop('disabled', false);
					$('#loadingIndicator').hide();
					// Restablece el formulario a su estado inicial
					$('#formRegistroidiomaDocumento')[0].reset();
					$('#archivoSeleccionado').empty();
				}
            });
		});






        $(document).ready(function () {



                   $("#myTable").DataTable({
                "ajax": {
                    "url": "@Url.Action("Listar", "Home")",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "IDCliente" },
                    { "data": "Cliente" },
                    { "data": "DNI" },
                    { "data": "Precio" },
                    {
                        "data": "FechaInicio",
                        "render": function (data, type, row) {
                            // Formatear la fecha utilizando Moment.js
                            return moment(data).format('DD-MM-YYYY');
                        }
                    },
                    {
                        "data": "FechaFin",
                        "render": function (data, type, row) {
                            // Formatear la fecha utilizando Moment.js
                            return moment(data).format('DD-MM-YYYY');
                        }
                    },
                    { "data": "Eleccion" },

                ]

            });


            @* PINTE LOS DATOS A LA HORA DE DAR CLICK *@
            var table = $('#myTable').DataTable();

                $('#myTable').on('click', 'tbody tr', function () {
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }
                });


        });






    </script>


    @*Habilitar o deshabilitar el select según el estado del checkbox*@
    <script>
        function toggleSelect() {
            var checkBox = document.getElementById("txtCheckBox");
            var select = document.getElementById("txtCombo");

            // Habilitar o deshabilitar el select según el estado del checkbox
            select.disabled = !checkBox.checked;
        }
    </script>





    @*SCRIPT PARA INSERTAR*@
    <script>

           /*btnInsertar*/
                 $(document).ready(function () {
                        $("#btnInsertar").click(function () {
                            var cliente = $("#txtCliente").val();
                            var dni = $("#txtDni").val();
                            var precio = $("#txtPrecio").val();
                            var fechainicio = $("#txtFechaini").val();
                            var fechafin = $("#textFechafini").val();
                            var idCliente = 1;

                            /*var formData = new FormData($('#formularioArchivo')[0]);*/
                            var formData = new FormData();
                            formData.append("pdfFile", $("#pdfFile")[0].files[0]);

                            // Obtener el valor del CheckBox y la Elección
                            var checkBoxValue = $("#txtCheckBox").is(":checked");
                            var eleccionValue = $("#txtCombo").val();

                            //alert(formData);
                            //return false;

                            // Verificar si se ha seleccionado algo en el combo box
                            if (!eleccionValue || eleccionValue === "Seleccione") {
                                alert("Seleccione una opción en el combo box.");
                                return false; // No continuar si no se ha seleccionado nada
                            }

                            alert("chama");
                            $.ajax({
                                url: "@Url.Action("Insertar", "Home")",
                                type: "POST",
                                data: formData,
                                success: function () {
                                    alert("Registro insertado exitosamente");
                                    window.location.href = '/';
                                },
                                error: function () {
                                    alert("Colocar los Datos correctamente y de manera Obligatoria");


                                }
                            });
                        });
                 });




    </script>


    @*<script>
        function subirArchivo() {
            alert("Hola");
                var formData = new FormData($('#formularioArchivo')[0]);
                alert("hola");
                $.ajax({
                    url: "@Url.Action("SubirArchivo", "Home")",
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $('#mensaje').html(data);
                    },
                    error: function () {
                        $('#mensaje').html('Error al subir el archivo.');
                    }
                });
            }
    </script>*@



    @*OBTENER LOS DATOS OCULTAMENTE Por EL hidden *@
    <script>
        $(document).ready(function () {

            var table = $('#myTable').DataTable();


            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);
                $("#tempCliente").val(rowData.Cliente);
                $("#tempDni").val(rowData.DNI);
                $("#tempPrecio").val(rowData.Precio);
                $("#tempFechainicio").val(moment(rowData.FechaInicio).format('DD-MM-YYYY'));
                $("#tempFechafin").val(moment(rowData.FechaFin).format('DD-MM-YYYY'));

                /* console.log(rowData.IDCliente);*/

            });

        });


    @* Mostrar los datos Obtenidos en el Modal *@
        $(document).ready(function () {
            $("#btnActualizar").click(function () {
                // Mostrar los datos en el modal antes de actualizar
                var tempid = $("#tempid").val();


                var tempCliente = $("#tempCliente").val();
                $("#txtClientes").val(tempCliente);

                var tempDni = $("#tempDni").val();
                $("#txtDnis").val(tempDni);

                var tempPrecio = $("#tempPrecio").val();
                $("#txtPrecios").val(tempPrecio);

                var tempFechainicio = $("#tempFechainicio").val();
                $("#txtFechaIni").val(tempFechainicio);

                var tempFechafin = $("#tempFechafin").val();
                $("#txtFechaFin").val(tempFechafin);


        /*ACTUALIZAR */
                // Enviar datos al controlador mediante AJAX
                // Al hacer clic en el botón de "Actualizar" dentro del modal
                $("#IdActualizar").click(function () {
                    // Obtener los valores actualizados desde el modal
                    var modalCliente = $("#txtClientes").val();
                    var modalDni = $("#txtDnis").val();
                    var modalPrecio = $("#txtPrecios").val();
                    var modalFechaIni = $("#txtFechaIni").val();
                    var modalFechaFini = $("#txtFechaFin").val();


                    // Enviar datos al controlador mediante AJAX
                    $.ajax({
                        url: "@Url.Action("ActualizarPago", "Home")",
                        type: "POST",
                        data: { idCliente: tempid, cliente: modalCliente, dni: modalDni, precio: modalPrecio, fechainicio: modalFechaIni, fechafin: modalFechaFini },
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);

                                /*window.location.href = '/';*/
                                window.location.href = '/';

                                // Puedes realizar más acciones después de una actualización exitosa
                            } else {
                                alert("Error: " + response.message);
                            }
                        },
                        error: function () {
                            myTable
                            alert("Hubo un error al actualizar el pago");
                        }
                    });

                });

            });
        });



    </script>


    @*ELIMINAR REGISTRO*@
    <script>


        $(document).ready(function () {


            //console.log("ready!");


            var table = $('#myTable').DataTable();

            $('#myTable tbody').on('click', 'tr', function () {
                var rowData = table.row(this).data();

                $("#tempid").val(rowData.IDCliente);


               /* console.log(rowData.IDCliente);*/


            });


            $("#btnEliminar").click(function () {

                var tempid = $("#tempid").val();

                 $.ajax({
                    url: "@Url.Action("EliminarPago", "Home")",
                    type: "POST",
                     data: { IDCliente: tempid},
                    success: function (response) {
                        console.log("Respues del servidor:", response);

                        /*Para que refresque la pagina*/
                        window.location.href = '/';

                        // Puedes realizar acciones adicionales según la respuesta del servidor
                    },
                    error: function (error) {
                        console.error("Error en la solicitud AJAX: " + error.statusText);
                    }
                 });

            });


        });

    </script>




}